node_modules/

# ignore compiled source files and maps
**/**/cartridge/static/*/js
**/**/cartridge/static/*/css

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
site_data/temp/

#Webpack Stats
stats.json
/.metadata/
package-lock.json
